.menu {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.container {
  padding: 30px 10%;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.user-badge {
  color: white;
  background-color: rgb(55, 169, 214);
  margin: 5px;
  padding: 15px;
}

.user-badge:hover {
  background-color: blue;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin: 0 15px 15px 0;
}

h4 {
  margin: 12px;
}

.back {
  color: white;
  /* i know this is bad :) */
  position: absolute;
  left: 10%;
}